body{
	background-color: #3b609b;
	color: #ffffff;
}
.container {
	margin-top: 40px;

}

.fa{
	color: #e06421;
}

form {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#output {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.card {
	border: none;
}
